    <h2 style="color: #3730A3; margin-left: 10px;" *ngIf="!update">Add Notification</h2>
    <h2 style="color: #3730A3; margin-left: 10px;" *ngIf="update">Update Notification</h2>
<form [formGroup]="addNotification"  (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>
       
       
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Notification Code</mat-label>
                <input matInput type="text" placeholder="Ex: NCODE345" formControlName="notificationCode">
            </mat-form-field>
           
        </div>
        <div class="row">
        
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select formControlName="notificationCategory">
                    <mat-option *ngFor="let val of notificationCategory" [value]="val">{{val}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Sub-Category</mat-label>
                <mat-select formControlName="notificationSubCategory">
                    <mat-option *ngFor="let val of notificationSubCategory" [value]="val">{{val}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        
    </div>
        <div class="row">
          
            <mat-form-field appearance="outline">
                <mat-label>Notification Type</mat-label>
                <mat-select formControlName="notificationType">
                    <mat-option *ngFor="let val of notificationType" [value]="val">{{val}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            </div>
            <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Supported Role</mat-label>
                <mat-select formControlName="notificationSupportedRole">
                    <mat-option *ngFor="let val of notificationSupportedRole" [value]="val">{{val}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            
        </div>
      
        <div class="row">
                         
                <h2>HTML Input</h2>     
              
                <angular-editor [(ngModel)]="htmlContent" formControlName="htmlContent"  [config]="config"></angular-editor>
              
        </div>
    </div>
    
    <div mat-dialog-actions class="action">
        <button mat-raised-button color="basic"  type="button" mat-dialog-close="false">Cancel</button>
        <button mat-raised-button color="primary"  type="submit">Submit</button>
    </div>

</form>
