<h2>Notification</h2>
<div class="table-header-card tab-content">
    <mat-card>
      <mat-card-content>
        <span class="example-spacer"></span>
        <!-- <input placeholder="Search" class="searchbar" #input (keyup)="applyfilter($event)"> -->
        <button mat-raised-button color="primary" (click)=" addNotificationDialog()">
          <mat-icon aria-hidden="false" style aria-label="Example download icon" fontIcon="add"></mat-icon>Add</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="table-content-card">
    <mat-card>
      <mat-card-content>
          
  <!-- using mat-table for display list of charger list for particular station-->
  <table mat-table [dataSource]="dataSource" matSort>
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2"> Sr No </th>
      <td mat-cell *matCellDef="let row; let i=index;">{{ paginator.pageIndex * paginator.pageSize + i + 1 }} </td>
    </ng-container>
  
    <ng-container matColumnDef="notificationCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1"> Notification Code </th>
        <td mat-cell *matCellDef="let row"> {{row.notificationCode}} </td>
      </ng-container>
              
      <ng-container matColumnDef="notificationType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1"> Notification Type </th>
        <td mat-cell *matCellDef="let row"> {{row.notificationType}} </td>
      </ng-container>

      <ng-container matColumnDef="notificationData">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1"> Notification Data </th>
        <td mat-cell *matCellDef="let row"> {{row.notificationData}} </td>
      </ng-container>
      
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="menu-col">Action</th>
        <td mat-cell *matCellDef="let row">
            <mat-icon class="vertical-menu-icon" style="color: rgb(21, 99, 112); margin-right: 20px;" (click)="onUpdateNotification(row)">edit</mat-icon> 
            <mat-icon class="vertical-menu-icon" style="color: orangered;" (click)="onDeleteNotification(row.notificationId)">delete</mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="[ 'id','notificationCode','notificationType','notificationData','menu']"></tr> <!-- display these column in the 1st row -->
    <tr mat-row *matRowDef="let row; columns: [ 'id', 'notificationCode','notificationType','notificationData','menu']"></tr> <!--display value -->
    
    </table>
    
    <mat-paginator [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
  </mat-paginator>
  
      </mat-card-content>
    </mat-card>
  
    <div class="back-button">
      <button routerLink="/manageStation/chargers/{{stationId}}">Back</button>
    </div>
  </div>
