.head{
    width:calc(100% - 5rem);
    height: 80px;
    margin-left: 5rem;
    z-index: 2;
    transition: all 0.3s ease;
    /* background-color:#3730A3; */
    background-image: linear-gradient(to right, #3730A3 , #0d0a36);
    padding: 0.4rem 2rem 0.4rem 1.5rem;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
    position:fixed;
    top: 0;
}
.head-trimmed{
    width: calc(100% - 16.5625rem);
    margin-left:16.5rem;
}
.head-md-screen{
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.header-content{
    display:flex;
}
.header-content img{
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}
.nav-profile{
    display:flex;
    color: white;
}
.nav-profile img{
    height: 60px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}
.mat-toolbar{
    /* background-color:#3730A3; */
    background-image: linear-gradient(to right, #3730A3 , #0d0a36);
}
/* 
.profile-menu-button{
    background-color: rgb(32, 32, 32) ;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
} */

/* .profile-menu-button span{
    margin-left:5px;
    margin-top: -10px;
} */

.profile-dropdown-button:hover{
    background-color:#C7D2FE;
    border-radius: 8px;
    /* border-radius: 8px; */
}

/* notification icon in navbar CSS */
.notification-icon .mat-icon{
    margin-right: 30px;
    cursor: pointer;
    color: rgb(219, 219, 219);
}
.notification-icon .mat-icon:hover{
    color:white ;
}

.profile-dropdown span{
color: #3f51b5;
}
    
.profile-menu-button{
    background-color:white;
}
