.myStation-back-button{
    padding: 20px 20px;
    /* border: 1px solid black; */
}

h2 {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 10 px;
    color:  #3f51b5;
  }
  h3{
    font-size: 18px;
  }
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .vertical-menu-icon {
    margin-right: 10px;
  }
  .menu-col {
    width: 150px; /* Adjust the width value as needed */
  }
  
  
  