<div mat-dialog-title>
    <h2 style="color: #3730A3;" *ngIf="!update">Add Station</h2>
    <h2 style="color: #3730A3;;" *ngIf="update">Update Station</h2>
</div>
<form [formGroup]="addStation" (ngSubmit)="onFormSubmit()"> <!--[formGroup]="empForm" (ngSubmit)="onFormSubmit()"-->
    <div mat-dialog-content >
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Station Name</mat-label>
                <input matInput type="text" placeholder="Ex: Virtuoso charging station" formControlName="stationName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Station Area</mat-label>
                <input matInput type="text" placeholder="Ex: Pune" formControlName="stationArea">
                <mat-error *ngIf="addStation.get('stationParkingArea')?.hasError('required')">Parking area is required</mat-error>
                <mat-error *ngIf="addStation.get('stationParkingArea')?.hasError('pattern')">Invalid parking area (only numbers are allowed)</mat-error>
            </mat-form-field>
        </div>
        
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Station Host ID</mat-label>
                <input matInput type="text" placeholder="Ex: 1234" formControlName="stationHostId">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Station Vendor ID</mat-label>
                <input matInput type="text" placeholder="Ex: 1234" formControlName="stationVendorId">
            </mat-form-field>
        </div>
        
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Station Address Line 1</mat-label>
                <input matInput type="text" placeholder="Ex: address line 1 " formControlName="stationAddressLineOne">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Station Address Line 2</mat-label>
                <input matInput type="text" placeholder="Ex: address line 2" formControlName="stationAddressLineTwo">
            </mat-form-field>
        </div>
        
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Pincode</mat-label>
                <input matInput type="text" placeholder="Ex: 411014" formControlName="stationZipCode">
                
                <mat-error *ngIf="addStation.get('stationZipCode')?.hasError('invalidPinCode')">Invalid Pincode</mat-error>

              </mat-form-field>
              
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput type="text" placeholder="Ex: Pune" formControlName="stationCity">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Station Latitude</mat-label>
                <input matInput type="email" placeholder="Ex: 18.5542818" formControlName="stationLatitude">
                <mat-error *ngIf="addStation.get('stationLatitude')?.hasError('required')">Latitude is required</mat-error>
                <mat-error *ngIf="addStation.get('stationLatitude')?.hasError('pattern')">Invalid latitude</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Station Longitude</mat-label>
                <input matInput type="text" placeholder="Ex: 73.923676" formControlName="stationLongitude">
                <mat-error *ngIf="addStation.get('stationLongitude')?.hasError('required')">Longitude is required</mat-error>
                <mat-error *ngIf="addStation.get('stationLongitude')?.hasError('pattern')">Invalid longitude</mat-error>
            </mat-form-field>

        </div>
        
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Station Location URL</mat-label>
                <input matInput type="text" placeholder="URL" formControlName="stationLocationURL">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Station Parking Area</mat-label>
                <input matInput type="text" placeholder="Ex- 150" formControlName="stationParkingArea">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Station Contact Number</mat-label>
                <input matInput type="tel" inputmode="numeric" placeholder="Ex: 9876543210" formControlName="stationContactNumber">
                <mat-error *ngIf="addStation.get('stationContactNumber')?.hasError('required')">Contact number is required</mat-error>
                <mat-error *ngIf="addStation.get('stationContactNumber')?.hasError('pattern')">Invalid contact number</mat-error>
              </mat-form-field>      
        </div>
        
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="stationStatus">
                <mat-label><b>Station Status</b></mat-label>
                <mat-radio-button value="Available">Available</mat-radio-button>
                <mat-radio-button value="Unavailable">Unavailable</mat-radio-button>
            </mat-radio-group>
        </div>
        
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Station Power Standard</mat-label>
                <mat-select formControlName="stationPowerStandard">
                    <mat-option *ngFor="let val of powerStation" [value]="val">{{val}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Station Working Time</mat-label>
                <input matInput type="text" placeholder="Ex: 9:00 AM - 10:00 PM" formControlName="stationWorkingTime">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Station Parking Type</mat-label>
                <mat-select formControlName="stationParkingType">
                    <mat-option *ngFor="let val of parkingType" [value]="val">{{val}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        
        <div class="row">
            <mat-label><b>Station Amenity</b></mat-label>
            <div  *ngFor="let item of amenities; let i=index">
                <mat-label><input mat-input type="checkbox" [value]="item.value" (change)="onCheckboxChange($event)"/>
                    <span>&nbsp;</span>
                    {{item.name}}</mat-label>
            </div>
        </div>

    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button color="basic"  type="button" mat-dialog-close="false">Cancel</button>
        <button *ngIf="submit" color="primary"  mat-raised-button  type="submit">Submit</button>
        <button *ngIf="update" color="primary"  mat-raised-button  type="submit">Update</button>
        <!-- <button mat-raised-button class="form-button" type="submit">{{data.stationId ? "Update" : "Add"}}</button> -->
    </div>

</form>
