h2 {
    font-size: 32px;
    color:  #3f51b5;
  }

.profile-header-container{
    display: flex;
    padding: 30px 50px;
    align-items: center;

    /* glass effect */
    background:#c7cdee;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-header-container img{
    height: 6rem;
    width: 6rem;
    margin-right: 20px;
}
.profile-header-container h2{
    font-size: 30px;
}
.profile-header-container button{
    display: flex;
    align-items: center;
    display: flex;
    margin-right: 10px;
    padding: 7px 10px;
    background-color: #3f51b5;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    height: 2.1rem;
}
.profile-header-container button h5{
    font-size: 17px;
    text-align: center;
    margin-top: 9px;
    margin-left: 10px;
}
.profile-header-container button:hover{
    background-color: #3f51b5;
    color: white;
}
/* profile page middle section css */
.infomation-display-format{
    display:flex;
    font-size: 19px;
    padding: 0px 10px;
    /* border: 1px solid black; */
}
.profile-middle-container{
    padding: 50px 10px;
    justify-content: left;
}
.profile-middle-container .div1{
    text-align: left;
    justify-content: left;
    padding: 15px 50px;
}
.profile-middle-container .div2{
    padding: 8px 0px;
}
.ans-title{
    /* border: 1px solid black; */
   
    padding: 4px 10px;
    color: black;
    background-color: #E2E8F0;
    border-radius: 5px;
}
/* profile footer CSS */
.profile-footer-container{
    display: flex;
    padding: 0px 10px 0px 0px;
}
.profile-footer-container button{
    display: flex;
    align-items: center;

    display: flex;
    margin-right: 10px;
    padding: 7px 10px;
    background-color: 3f51b5;
    color: black;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    height: 2.1rem;
}
.profile-footer-container button:hover{
    color: white !important;
    background-color: red;
}
.profile-footer-container h5{
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
    margin-left: 10px;
}
.profile-footer-container:hover h5{
    color: white;
}
/* back button CSS */
.back-button{
    /* border: 1px solid black; */
    margin: 20px 10px 10px 10px;
}
.back-button button{
    display: flex;
    align-items: center;
    display: flex;
    position: relative;
    padding: 15px;
    color:  #3f51b5;
    border: 1px solid  #3f51b5;
    border-radius: 7px;
    cursor: pointer;
    height: 2.1rem;
    font-size: 20px;
    margin-left: 43%;
}
.back-button button:hover {
    color: white !important;
    border: none;
    background-color: #C7D2FE;
}



.manage-station{
    margin-top: 50px;
}
.control-access-section{
    display: flex;
    /* border: 1px solid black; */
    margin-top: 30px;
}
.location-setting{
    /* border: 1px solid black; */
    width: 50%;
    padding: 0px 40px;
}
.location-setting h2{
    font-size: 23px;
    color:#3f51b5;
}
.location-name{
    display: flex;
    justify-content: center;
}
.location-name label{
    font-size: 14px;
}
.control-access-button{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 2px 5px;
    margin: 0px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.control-access-button h5{
    margin:2px 0px 0px 5px;
    font-size: 14px;
}

/* input */
.location-info input{
    padding: 8px 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #E2E8F0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}
.location-info input::placeholder{
    font-size: 14px;
    color: black;
}
/* checkbox CSS */
.checkbox-section p {
    margin: -12px 0px 0px 0px;
}

/* amenitites Section CSS */
.location-amenities-active{
    display: flex;
}
.location-amenitites{
    /* border: 1px solid black; */
    width: 45%;
    padding: 5px 10px 0px 10px;
    background-color: #E2E8F0;
    border-radius: 10px;

}
.location-amenitites h3{
    text-align: center;
}
.location-station-active{
    /* border: 1px solid black; */
    width: 44%;
    padding: 20px;
    align-items: center;
    background-color: #E2E8F0;
    border-radius: 10px;
    
}
.location-station-active h4{
    text-align: center;
}

/* station Button CSS */
.station-button{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 7px 7px;
    margin: 20px 0px 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgb(224, 224, 224);
}
.station-button:hover{
    color: #3f51b5;
}
.station-button h5{
    margin:2px 0px 0px 5px;
    font-size: 14px;
}

/* Station Info CSS */
.stationSetting{
    width: 50%;
    padding: 0px 40px;
}
.stationSetting-info h2{
    font-size: 23px;
    color: #3f51b5;
}
.station-name{
    display: flex;
    justify-content: center;
}
.stationSetting-info input{
    padding: 8px 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color:#E2E8F0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}
.stationSetting-info input::placeholder{
    font-size: 14px;
    color: black;
}

/* Station Type */
.stationSetting-type{
    display: flex;
    margin-top: 10px;
    background-color:#E2E8F0;
    border-radius: 5px;
    padding: 0px 7px;
}
.stationSetting-type h5{
    font-size: 14px;
    margin-top: 7px;
}
.stationSetting-type mat-slide-toggle{
    margin-top: 7px;
}

/* Map and photo Station Setting CSS */
.stationSetting-map-photo{
    display: flex;
    margin-top:20px;
}
.stationSetting-map{
    width: 50%;
    margin-right: 20px;
    /* border: 1px solid black; */
}
.stationsetting-photo{
    width: 50%;
    /* border: 1px solid black; */
}
/* back to myStation button CSS */
.myStation-back-button{
    padding: 40px 40px;
    /* border: 1px solid black; */
}
.myStation-back-button h4{
    color: #4ba5d3;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 5%;
    cursor: pointer;
}
.back-button{
    /* border: 1px solid black; */
    margin: 30px 1000px 10px 0px;
;
}
.back-button button{
    display: flex;
    align-items: center;

    display: flex;
    position: relative;
    padding: 15px;
    color: #4ba5d3;
    border: 1px solid #4ba5d3;
    border-radius: 7px;
    cursor: pointer;
    height: 2.1rem;

    font-size: 20px;
    margin-left: 115%;
}
.back-button button:hover{
    color: #4ba5d3;
    border: none;
    
}

.ans-title{
    /* border: 1px solid black; */
   width:100% ;
    padding: 4px 10px;
    color: black;
    background-color: #91b9ce;
    border-radius: 5px;
}

.restrictionTableSection h2{
        font-size: 23px;
        color: rgb(26, 131, 167);
}

.restrictionTableSection{
        width: 80%;
        padding: 0px 40px;
        margin-left:10%
}

.empty-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
    color: #888;
    padding: 16px;
  }

