h2 {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 10 px;
    color:  #3f51b5;
  }
  h3{
    font-size: 20 px;
   
  }

.myStation-back-button{
    padding: 20px 20px;
   
}

.myStation-back-button h4{
    color: #4ba5d3;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 5%;
    cursor: pointer;
}
.charging-station-heading{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 18px;
}
.filter-charger{
    padding: 0px 10px;
}

.filter-button-section{
    text-align: center;
    justify-content: space-between;
}

.filter-button{
    padding: 3px 7px;
    margin: 0px 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    
}
.filter-button:hover{
    background-color: #4ba5d3;
}

 