.mat-card{
    margin: 2%;
    text-align:left;
}

.mat-mdc-form-field{
    width: 98%;
    margin: 1%;
}

.mat-50{
    width: 48%;
    margin: 1%;
}

button{
    margin: 2px;
}



.inline-form-field {
    display: flex;
    align-items: center;
}
  
.inline-form-field input{
    flex: 1;
    margin-right: 10px;
}
  
.validationTable{
    font-weight: bold;
}


.success{
    background-color: #0ef46a; /* Example background color */
    color: black; /* Example text color */
  }