<h1>Payments</h1>
<div class="table-header-card tab-content">
    <mat-card>
        <mat-card-content>
            <span class="example-spacer"></span>
            <button mat-raised-button color="primary"  >
                <mat-icon aria-hidden="false" aria-label="Example download icon" fontIcon="download"></mat-icon>
                Export
            </button>
            <button mat-raised-button color="primary"  >
                <mat-icon aria-hidden="false" aria-label="Example print icon" fontIcon="print"></mat-icon>
                Print
            </button>
        </mat-card-content>
      </mat-card> 
</div>

    
    <div class="back-button">
        <button routerLink="/dashboard">Back</button>
    </div>