/* back to myStation button CSS */
.myStation-back-button{
    padding: 20px 20px;
    /* border: 1px solid black; */
}
.myStation-back-button h4{
    color: #4ba5d3;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 5%;
    cursor: pointer;
}

h2 {
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 10 px;
    color:  #3f51b5;
  }
  h3{
    font-size: 18px;
   
  }