<h2>Connector's List</h2>
<h3> {{chargerName}}</h3>
<h3 style="color: red;">{{errorMessage}}</h3>

<div class="table-header-card tab-content">
  <mat-card>
    <mat-card-content>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" (click)="openDialogBox()">
        <mat-icon aria-hidden="false" aria-label="Example download icon" fontIcon="add"></mat-icon>
        Add connector
      </button>
    </mat-card-content>
  </mat-card>
</div>

<div class="table-content-card">
  <mat-card>
    <mat-card-content>
        
<!-- using mat-table for display list of charger list for particular station-->
<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2"> Sr No </th>
    <td mat-cell *matCellDef="let row; let i=index;">{{ paginator.pageIndex * paginator.pageSize + i + 1 }} </td>
  </ng-container>

   <ng-container matColumnDef="connectorNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1" >Number Of Connector </th> <!--(click)="openChargerList()"-->
      <td mat-cell *matCellDef="let row"> {{row.connectorNumber}} </td>
    </ng-container>
            
    <ng-container matColumnDef="connectorType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1"> Connector Type </th>
      <td mat-cell *matCellDef="let row"> {{row.connectorType}} </td>
    </ng-container>
    
    <ng-container matColumnDef="connectorSocket">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1"> Connector Socket </th>
        <td mat-cell *matCellDef="let row"> {{row.connectorSocket}} </td>
      </ng-container>
    
    <ng-container matColumnDef="connectorStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1">Connector Status </th>
      <td mat-cell *matCellDef="let row" [ngStyle]="{'color': row.connectorStatus === 'Connected' ? 'green' : 'red' }" class="station-status"> {{row.connectorStatus}} </td>
    </ng-container>
    
    <ng-container matColumnDef="connectorOutputPower">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="1">Output Power </th>
        <td mat-cell *matCellDef="let row"> {{row.connectorOutputPower}} </td>
      </ng-container>
         
    <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="menu-col">Action</th>
        <td mat-cell *matCellDef="let row">
            <mat-icon class="vertical-menu-icon" style="color: rgb(21, 99, 112); margin-right: 20px;" (click)="onUpdateConnector(row)">edit</mat-icon> 
            <mat-icon class="vertical-menu-icon" style="color: orangered;" (click)="onDeleteConnector(row.connectorId)">delete</mat-icon>
        </td>
    </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="[ 'id','connectorNumber', 'connectorType','connectorSocket','connectorStatus','connectorOutputPower','menu']"></tr> <!-- display these column in the 1st row -->
  <tr mat-row *matRowDef="let row; columns: [ 'id', 'connectorNumber', 'connectorType','connectorSocket','connectorStatus','connectorOutputPower', 'menu']"></tr> <!--display value -->
  
  </table>
  
  <mat-paginator [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page">
</mat-paginator>

    </mat-card-content>
  </mat-card>

  <div class="myStation-back-button">
    <h3 routerLink="/manageStation">Back To Station</h3>
  </div>

  <div class="back-button">
    <button routerLink="/manageStation/chargers/{{stationId}}">Back</button>
        <!-- <button routerLink="/add-details">Back</button> -->

  </div>
</div>