<div class="profile-container">
    <h2>Profile</h2>
    <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
    <div class="profile-header-container">
    
      <img [src]="profileImageSrc" alt="profile picture" (click)="profilePicture.click()" />
    
    <input type="file" id="profilePicture" accept="image/*" style="display: none" (change)="handleProfilePictureChange($event)" #profilePicture />
      <h2>{{ profileForm.value.hostFirstName }} {{ profileForm.value.hostLastName }}</h2>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" (click)="toggleEditMode()">
        <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
        {{ editMode ? 'Save' : 'Edit Profile' }}
      </button>
    </div>
    <div class="profile-middle-container">
      <div class="infomation-display-format">
        <div class="div1">
          <label for="firstName" class="title">First Name:</label><br><br>
          <label for="lastName" class="title">Last Name:</label><br><br>
          <label for="email" class="title">Email Id:</label><br><br>
          <label for="phone" class="title">Phone No:</label><br><br>
          <!-- <label for="password" class="title">Password:</label> -->
        </div>
        <div class="div2">
          <ng-container *ngIf="!editMode; else editModeTemplate">
            <label for="hostFirstName" class="ans-title">{{ hostFirstName }}</label><br><br>
            <label for="hostLastName" class="ans-title">{{ hostLastName }}</label><br><br>
            <label for="hostEmail" class="ans-title">{{ hostEmail }}</label><br><br>
            <label for="hostContactNo" class="ans-title">{{ hostContactNo }}</label><br><br>
            <!-- <label for="password" class="ans-title">********</label> -->
          </ng-container>
          <ng-template #editModeTemplate>
            <input type="text" id="hostFirstName" formControlName="hostFirstName" class="ans-title"><br><br>
            <input type="text" id="hostLastName" formControlName="hostLastName" class="ans-title"><br><br>
            <input type="email" id="hostEmail" formControlName="hostEmail" class="ans-title"><br><br>
            <input type="text" id="hostContactNo" formControlName="hostContactNo" class="ans-title"><br><br>
            <!-- <div class="password-input-container">
                <input type="{{ passwordVisible ? 'text' : 'password' }}" id="password" formControlName="password" class="ans-title">
                <mat-icon class="password-toggle-icon" (click)="togglePasswordVisibility()">
                  {{ passwordVisible ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </div> -->
          </ng-template>
        </div>
      </div>
    </div>
    <div class="profile-footer-container">
      <span class="example-spacer"></span>
      <button color="primary" mat-raised-button (click)="deleteAccount()">
        <mat-icon aria-hidden="false" style="color: white;" aria-label="Example delete icon" fontIcon="delete"></mat-icon>
        <h5>Delete Account</h5>
      </button>
    </div>
    <div class="back-button">
      <button color="basic" mat-raised-button routerLink="/dashboard">Back</button>
    </div>
    </form>
  </div>
  