<div mat-dialog-title>
    <h2>Add Charger</h2>
</div>

<form [formGroup]="addStation" (ngSubmit)="onFormSubmit()"> <!--[formGroup]="empForm" (ngSubmit)="onFormSubmit()"-->
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Chager Name</mat-label>
                <input matInput type="text" placeholder="" formControlName="chargerName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Charger Number</mat-label>
                <input matInput type="text" placeholder="Ex: 1" formControlName="chargerNumber">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Charger Input Voltage</mat-label>
                <input matInput type="text" placeholder="Ex: 220V" formControlName="chargerInputVoltage">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Charger Output Voltage</mat-label>
                <input matInput type="text" placeholder="Ex: 12V" formControlName="chargerOutputVoltage">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>ChargerMinInputAmpere</mat-label>
                <input matInput type="text" placeholder="Ex: 50A" formControlName="chargerMinInputAmpere">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>ChargerMaxInputAmpere</mat-label>
                <input matInput type="text" placeholder="Ex: 20A" formControlName="chargerMaxInputAmpere">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>ChargerOutputAmpere</mat-label>
                <input matInput type="text" placeholder="Ex: 20A" formControlName="chargerOutputAmpere">
            </mat-form-field>

        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Charger Input Frequency</mat-label>
                <input matInput type="text" placeholder="Ex: 50Hz" formControlName="chargerInputFrequency">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Charger Output Frequency</mat-label>
                <input matInput type="text" placeholder="Ex:90Hz" formControlName="chargerOutputFrequency">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Charger IP Rating</mat-label>
                <input matInput type="text" placeholder="Ex: IP67" formControlName="chargerIPRating">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Charger Mount Type</mat-label>
                <!-- <input matInput type="text" placeholder="Ex: wall mounted" formControlName="chargerMountType"> -->
                <mat-select formControlName="chargerMountType" placeholder="Ex: Type">
                    <mat-option value="">None</mat-option>
                    <mat-option value="wall mounted">Wall Mounted</mat-option>
                    <mat-option value="desktop">Stand</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>ChargerNumberOfConnector</mat-label>
                <input matInput type="text" placeholder="Ex: 1" formControlName="chargerNumberOfConnector">
            </mat-form-field>


        </div>
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="isRFID">
                <mat-label><b>isRFID</b></mat-label>
                <mat-radio-button value="Available">Yes</mat-radio-button>
                <mat-radio-button value="Unavailable">No</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Charger Serial Number</mat-label>
                <input matInput type="text" placeholder="Ex: CHG1234" formControlName="chargerPointSerialNumber">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Charger OCPP Protocol</mat-label>
                <input matInput type="text" placeholder="Ex: OCPP 1.6" formControlName="chargerOCPPProtocol">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Charger Type</mat-label>
                <input matInput type="text" placeholder="Ex: Type1" formControlName="chargerConnectorType">
            </mat-form-field>

        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>charger Point Model</mat-label>
                <input matInput type="text" placeholder="T2AC"  formControlName="chargerPointModel">
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" >
                <mat-label>charger Point Vendor</mat-label>
                <input matInput type="text" placeholder="VIRTUOSO"  formControlName="chargerPointVendor">
              </mat-form-field>
              </div>
              <div class="row">
              <mat-form-field appearance="outline" >
                <mat-label>charger Point Serial Number </mat-label>
                <input matInput type="text" placeholder="VPEL"  formControlName="chargerPointSerialNumber"/>
                </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline" >
                      <mat-label>charge Box Serial Number</mat-label>
                      <input matInput type="text" placeholder="VPEL"  formControlName="chargeBoxSerialNumber">
                    </mat-form-field>
        </div>
        <div class="row">
        <mat-form-field appearance="outline" >
            <mat-label>MeterType</mat-label>
            <input matInput type="text" placeholder="Digital" formControlName="meterType"> 
          </mat-form-field>
          </div>
       
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="isAppSupport">
                <mat-label><b>isAppSupport</b></mat-label>
                <mat-radio-button value="Available">Yes</mat-radio-button>
                <mat-radio-button value="Unavailable">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="isTBCutOff">
                <mat-label><b>isTBCutOff</b></mat-label>
                <mat-radio-button value="Available">Yes</mat-radio-button>
                <mat-radio-button value="Unavailable">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="isAntitheft">
                <mat-label><b>isAntitheft</b></mat-label>
                <mat-radio-button value="Available">Yes</mat-radio-button>
                <mat-radio-button value="Unavailable">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="isLEDDisplay">
                <mat-label><b>isLEDDisplay</b></mat-label>
                <mat-radio-button value="Available">Yes</mat-radio-button>
                <mat-radio-button value="Unavailable">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="isLEDIndications">
                <mat-label><b>isLEDIndications</b></mat-label>
                <mat-radio-button value="Available">Yes</mat-radio-button>
                <mat-radio-button value="Unavailable">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="isSmart">
                <mat-label><b>isSmart</b></mat-label>
                <mat-radio-button value="Available">Yes</mat-radio-button>
                <mat-radio-button value="Unavailable">No</mat-radio-button>
            </mat-radio-group>
        </div>

    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button color="basic" type="button" mat-dialog-close="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>

</form>