<h1>Bookings</h1>
<div class="rfids-content">
    <div class="table-header-card tab-content">
        <!-- card for filter button -->
        <mat-card>
            <mat-card-content>
                <!-- <h3>Booking</h3> -->
                <input matInput placeholder="Search by" (keyup)="applyFilter($event)" #input>
            </mat-card-content>
        </mat-card> 
    </div>
<!-- booking table  -->

<div class="table-content-card">
  <mat-card>
    <mat-card-content>

<!-- creating new mat-table for datas -->
<table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="hostId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2">Sr No. </th>
          <td mat-cell *matCellDef="let row, let i=index"> {{ i+1 }} </td>
        </ng-container>
      
          <ng-container matColumnDef="stationName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2">Station Name </th>
            <td mat-cell *matCellDef="let row" style="cursor: pointer;" (click)="onClickedStation(row.stationId)" > {{row.stationName}} </td>
          </ng-container>

           <ng-container matColumnDef="chargerId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2">Charger Id </th>
            <td mat-cell *matCellDef="let row"> {{row.chargerId}} </td>
          </ng-container> 
      
        <ng-container matColumnDef="bookingSocket">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Booking Socket</th>
          <td mat-cell *matCellDef="let row"> {{row.bookingSocket}} </td>
        </ng-container>

        <ng-container matColumnDef="bookingDate" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Booking Date</th>
            <td mat-cell *matCellDef="let row"> {{row.bookingDate|date:'mediumDate'}} </td>
          </ng-container>

          <ng-container matColumnDef="bookingTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >Booking Time</th>
            <td mat-cell *matCellDef="let row"> {{row.bookingTime}} </td>
          </ng-container>

          <ng-container matColumnDef="bookingCancellationReason">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >Cancellation Reason</th>
            <td mat-cell *matCellDef="let row"> {{row.bookingCancellationReason}} </td>
          </ng-container>

          <ng-container matColumnDef="bookingStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Booking Status <mat-select  placeholder="filter" [(ngModel)]="selectedStatus" (ngModelChange)="statusFilter()">
              <mat-option disabled value="">Choose anyone</mat-option>
              <mat-option value="">All</mat-option>
              <mat-option value="completed" >Completed</mat-option>
              <mat-option value="cancelled">Cancelled</mat-option>
              <mat-option value="in progress">In-Progress</mat-option>             
            </mat-select></th>
            <td mat-cell *matCellDef="let row" [ngStyle]="{'color': row.bookingStatus === 'completed' ? 'green' : 'red'}"> {{row.bookingStatus}} </td>
          </ng-container>

          <ng-container matColumnDef="bookingAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >Booking Amount</th>
            <td mat-cell *matCellDef="let row"> {{row.bookingAmount}} </td>
          </ng-container>
           
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      </table>
      
      <mat-paginator [pageSizeOptions]="[6]" aria-label="Select page of users"></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
    <div class="back-button">
        <button routerLink="/dashboard">Back</button>
    </div>
</div>
